*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}
body{
    background-color: #f5f7fa;
}

#navbar{
    width: 100%;
    height: 90px;
    background-color: #466A9F;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#navbar ul{
    list-style: none;
    display: flex;
    gap:30px;
}

#navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    
}
#navbar ul li a:hover{
    color: #000000;
}

#navbar ul li a.active{
    color: #000000;
}

.hamburger-menu{
    position: absolute;
    top: 30px;
    right:30px;
    cursor:pointer;
    font-size:22px;
    color:white;
    z-index:100;
    padding: 8px;
    transition: all 0.3s ease;
    display: block;

}

.hamburger-menu:hover{
    color: #000000;
}

.dropdown-Content{
    display: none;
    position: absolute;
    top:90px;
    right:0px;
    min-width:200px;
    background-color:#466A9F;
    flex-direction:column;
    z-index:99;
}

.dropdown-Content a{
    color: white;
    padding:12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-bottom:1px solid white;
}
.dropdown-Content a:hover{
    background-color: #000000;
    color: white;
}
.dropdown-Content.show{
    display: block;
}

.main-heading{
    padding: 30px 15%;
    font-size: 32px;
}
.search-section{
    display: flex;
    justify-content: center;
    border-radius: 3px;
    background-color: white;
    padding: 15px;
    gap:10px;
    margin: 20px 15%;
}
.search-input{
    flex:1;
    display: flex;
    align-items: center;
    gap:10px;
}

.search-input input,
.search-input select{
    width: 100%;
    padding: 15px 0;
    border: none;
    outline: none;
    background: #f5f7fa;
    font-size: 1rem;
    border-radius: 5px;
}
.search-input input::placeholder{
    color:black;
}

.search-btn{
    padding: 15px 25px;
    background-color: #466A9F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}
.search-btn:hover{
    background-color: #233f58;

    transition: all 0.3s ease;
}