*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}
body{
    background-color: white;
}

#navbar{
    width: 100%;
    height: 90px;
    background-color: #466A9F;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar ul{
    list-style: none;
    display: flex;
    gap:30px;
}

#navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    
}
#navbar ul li a:hover{
    color: #000000;
}

#navbar ul li a.active{
    color: #000000;
}

.hamburger-menu{
    position: absolute;
    top: 30px;
    right:30px;
    cursor:pointer;
    font-size:22px;
    color:white;
    z-index:100;
    padding: 8px;
    transition: all 0.3s ease;
    display: none;

}

.hamburger-menu:hover{
    color: #000000;
}

.dropdown-Content{
    display: none;
    position: absolute;
    top:90px;
    right:0px;
    min-width:200px;
    background-color:#466A9F;
    flex-direction:column;
    z-index:99;
}

.dropdown-Content a{
    color: white;
    padding:12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-bottom:1px solid white;
}
.dropdown-Content a:hover{
    background-color: #000000;
    color: white;
}
.dropdown-Content.show{
    display: block;
}