*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f2f2f2;
    background-size: cover;
}
.wrapper{
    width: 400px;
    background: #466A9F;
    color: white;
    border-radius: 10px;
    padding: 25px 30px;

}

.wrapper h1{
    font-size: 35px;
    text-align: center;
}
.wrapper .input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid white;
    border-radius: 40px;
    font-size: 18px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: white;
    font-size: 16px;
    padding-left: 20px;
}

.wrapper .terms-conditions{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -10px 0 10px 0;
}
.terms-conditions label input{
    accent-color: white;
    margin: 7px;
}

.wrapper .btn{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background: white;
    color: #333;
    font-size: 20px;
    border-radius: 40px;
    cursor: pointer;
    font-weight: 550;
}



